/* @RULES */    

/* 1.@Font-face */

@font-face{
    font-family: Demo;
    src: url(../fonts/emptypageDEMO.otf);
}

@font-face{
    font-family: Social;
    src: url(../fonts/Social\ Media\ Circled.otf);
}

ul{
    list-style: none;
    display: flex;
}

.tituloPrincipal{
    font-family: Demo;
    font-size: 30px;
    font-weight: bold;
}

.socialCircle{
    font-family:Social;
    font-size:  100px;

}


.azul{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rosado{
    color: plum;
}

/* 2.@KeyFrame */

.cartel{
    width: 100px;
    height: 100px;
    position: relative;
    background: greenyellow;
    margin: 10px;
}

.cartel:hover{
    animation: cartel 1s;
    transform-origin: top;
}

@keyframes mover{
    from{left: 0px;}
    to {
        left: 600px;
        border-radius: 50%;
    }
}

@keyframes moverTB{
    from{top: 0px;}
    to {
        top: 600px;
        border-radius: 50%;
    }
}

@keyframes rotar{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes animarTxt{
    from{
        margin-left: 100%;
        width: 100%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }    
}

@keyframes flash{
    50%{opacity: 1;}
    25%,75%{opacity: 0;}

}

@keyframes cartel {
    20%{transform: rotate(15deg);}

    40%{transform: rotate(-10deg);}

    60%{transform: rotate(5deg);}

    40%{transform: rotate(-3deg);}
}

.caja1{
    width: 100px;
    height: 100px;
    position: relative;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    animation: mover 5s infinite;
}

.caja2{
    width: 100px;
    height: 40px;
    position: relative;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    animation: rotar 4s infinite;
}
/*animation: [NombreAnimación] [Duración] [FunciónTiempo] [Retraso] [Iteraciones] [Dirección]*/

.textAnimado{
    margin: 20px;
    animation-name: animarTxt;
    animation-duration: 4s;
}

.flash{
    width: 100px;
    height: 100px;
    position: relative;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.flash:hover{
    animation: flash 0.7s;    
}

.cartel{
    width: 160px;
    height: 100px;
    position: relative;
    background: greenyellow;
    margin: 10px;
}

.cartel:hover{
    animation: cartel 1s; 
    transform-origin: top center;     
}