/*
HOJA DE ESTILOS
FECHA: 28/06/2023
*/

/* 1.SELECTOR UNIVERSAL (*) */
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: darkgray;
}

/* 2.SELECTOR DE ETIQUETA */

body {

    background-color: rgb(0, 110, 255);
}

h1 {

    font-size: 26px;
    font-weight: 400;
    color: cadetblue;
}

hr {
    border: 1px solid #27374d;
}

/* 3. ESTILOS DE ID (#) */
#principal {
    color: antiquewhite;
    font-weight: bold;
    text-decoration: underline;
}

/* 4. ESTILOS DE CLASS (.) */
.marcar {
    background-color: yellowgreen;
}

.recuadro {
    border: 2px dotted #27374d;
    padding: 10px;
    border-radius: 20px;
}

.negrita {
    font-weight: 900;
}

.padre{
    display: flex;
    background-color: greenyellow;
}

.caja{
    border: 2px solid #000;
    background-color: #27374d;
    padding: 20px; 
    margin: 20px;
}