/*  PSEDOCLASES */

.btn{
    padding: 5px 10px;
    border: 2px solid lightgreen; 
    background-color: green;
    border-radius: 10 px;
}

.contenedor{
    display: flex;
}

.caja{
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
}

/* : active : visited : link : hover */

a:link{color: darkblue;text-decoration: none;}
a:visited{color: red;text-decoration: none;}
a:hover{background-color: yellow;text-decoration: none;}
a:active{color: lime;text-decoration: none;}

.btn:hover{
border: 2px solid lightskyblue;
background-color: blue;
padding: 10 px 20 px;

}

#my-check-si:checked{
    width: 20px;
    height: 20px;
}

#my-radio:checked + label,
#my-check-no:checked + label{
display: inline !important;
color: crimson;
font-weight: bold;
}

/*empty*/

.caja:empty{
    background-color: greenyellow;
}

/*enable : disable */

#txtEnable:enabled{
    border: 2px solid green;
}

#txtEnable:focus{
    border: 2px solid blue !important;
    background-color: blue;
}

#txtDisabled:disabled{
    border: 2px solid red;
}

/* in-range : out-of-range*/

#txtNumber:in-range{background-color: green;}

#txtNumber:out-of-range{background-color: crimson;}

#txtNumber:out-of-range +label{
    display: block !important;
    font-size: 10px;
    color: crimson
}

/*invalid valid*/

#txtmail:valid{
    background-color: lightgreen;
}

#txtmail:invalid + label{
    display: block !important;
    font-size:  10px;
    color: crimson;
}

/*Optional Required*/

#txtOpt:optional{
    background-color: lightgreen;
}

#txtReq:required{
    background-color: lightcoral;
}

/* first child last child*/

#box1 p:first-child{border: 2px dashed orange}

#box1 p:last-child{border: 2px dashed blue}

/* nth-child()-- odd--even An+B */

ul>li:nth-child(even){background-color: lightpink;}
ul>li:nth-child(odd){background-color: lightgreen;}

ol>li:nth-child(5){background-color: crimson;}
ol>li:nth-child(4n){background-color: crimson;}